nav.navigation {
    display: flex;
    justify-content: center;
    align-items: center;

    flex-grow: 1;

    ul {
        display: flex;
        align-items: center;

        li {
            margin: 0 2vw;
        }
    }
}