nav.navigation {
    display: flex;
    justify-content: center;
    align-items: center;

    flex-grow: 1;

    ul {
        display: flex;
        align-items: center;

        li {
            margin: 0 2vw;

            a {
                transition: $main-transition;

                &:hover {
                    color: $main-color;

                    transition: $main-transition;
                }

                &.currentPath {
                    color: $main-color;
                }
            }
        }
    }
}