#contact-page {
    .text {
        h3 {
            margin: 1vw;
    
            font-size: 1.9vw;
            font-weight: 700;
            text-align: center;
        }
    
        p {
            margin-bottom: 2.5vw;
    
            font-size: 1vw;
            text-align: center;
        }
    }
}