// Theme

:root {
    --main-color-light: #93c5fd;
    --main-color: #3b82f6;
    --main-color-dark: #1d4ed8;
    --main-color-darker: #1C40A5;

    --secondary-color-light: #FF7F2D;
    --secondary-color: #DE681B;
    --secondary-color-dark: #C65D19;

    --light-color: #FAFAFA;
    --light-gray-color: #e3e3e3;
    --gray-color: #C6C6C6;
    --dark-color: #1C1C1C;
}
  
[data-theme="dark"] {
    --main-color-light: #93c5fd;
    --main-color: #3b82f6;
    --main-color-dark: #1d4ed8;

    --secondary-color-light: #FF7F2D;
    --secondary-color: #DE681B;
    --secondary-color-dark: #C65D19;

    --light-color: #FAFAFA;
    --light-gray-color: #e3e3e3;
    --gray-color: #C6C6C6;
    --dark-color: #1C1C1C;
}

//// ==> SCSS Variables

// Colors

$main-color-light: var(--main-color-light);
$main-color: var(--main-color);
$main-color-dark: var(--main-color-dark);
$main-color-darker: var(--main-color-darker);

$secondary-color-light: var(--secondary-color-light);
$secondary-color: var(--secondary-color);
$secondary-color-dark: var(--secondary-color-dark);

$light-color: var(--light-color);
$light-gray-color: var(--light-gray-color);
$gray-color: var(--gray-color);
$dark-color: var(--dark-color);

// Other

$main-shadow: rgba(80, 80, 80, 0.2) 0 0 40px 4px;

$main-font: 'Inter', Helvetica, Arial, sans-serif;

// Animation

$main-transition: .2s ease;