button.animated {
    padding: .5vw 2vw;

    color: $light-color;
    border: 1px solid $main-color;
    background-color: $main-color;

    transition: $main-transition;

    &:hover {
        color: $main-color;
        background-color: $light-color;

        transition: $main-transition;
    }

    
}